.product {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Aumenta el tamaño de la fuente general */
    justify-content: center;
    max-width: 300px;
    width: 100%;
}

.product-presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Aumenta el espacio entre elementos */
}

.product-img {
    border-radius: 16px;
    width: 100%;
    min-width: 96px; /* Mantiene las dimensiones predefinidas */
    height: 237px;    /* Mantiene las dimensiones predefinidas */
}

.product-content {
    width: 100%;
}

/*Aqui se cambia el color del boton del producto(Solicitar)*/
.product-button {
    font-size: 1em; /* Aumenta el tamaño de la fuente del botón */
    padding: 6px 12px; /* Aumenta el padding del botón */
    background-color: #b27fff;/* En esta linea aplicais los cambios del color poner un codigo*/
    color: #000000; /*Aqui se hace el cambio del color de la letra*/
    border: none;
    border-radius: 99px;
    cursor: pointer;
}

.heart-container {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-description h2 {
    font-size: 1.3em; /* Aumenta el tamaño del título */
    height: 50px;
}

.product-description p {
    font-size: 1em; /* Aumenta el tamaño de la descripción */
    height: 56px;
}
