<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/webs/index.css">
    <title>InFamily</title>
</head>
<body>
    <header>
        <nav>
            <div class="contenedorHeader">
                <img class="logo" src="../img/InFamilyLogo.png" alt="Logo InFamily">
            </div>
        </nav>
    </header>
    <main>
        <!-- Sección de bienvenida -->
        <div class="container">
            <div class="text-section">
                <h1 class="title">¡Bienvenido a InFamily!</h1>
                <div class="borde-centro"></div>
                <p class="text">
                    Un espacio dedicado a apoyar a las familias de acogida donde podrán solicitar donativos que generosos voluntarios ofrecen para mejorar su calidad de vida.
                </p>
                <a href="./login/index.html" class="button">Iniciar sesión</a>
            </div>
            <div class="image-section">
                <div id="carousel-bienvenida" class="carousel">
                    <div class="carousel-images">
                        <img src="../img/family.jpg" alt="Familia feliz">
                        <img src="../img/family.jpg" alt="Familia feliz">
                        <img src="../img/family.jpg" alt="Familia feliz">
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de quienes somos -->
        <div class="container2">
            <div class="image-section2">
                <div id="carousel-quienes" class="carousel">
                    <div class="carousel-images">
                        <img src="../img/family.jpg" alt="Familia feliz">
                        <img src="../img/family.jpg" alt="Familia feliz">
                        <img src="../img/family.jpg" alt="Familia feliz">
                    </div>
                </div>
            </div>
            <div class="text-section2">
                <h1 class="title">Quienes somos</h1>
                <div class="borde-centro"></div>
                <p class="text">
                    Nuestro objetivo es facilitar el acceso a recursos
                    que hagan tu labor más sencilla y llena de amor.
                    ¡Gracias por ser parte de esta comunidad!
                </p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>© 2024 InFamily. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/carusel.js"></script>
    <script src="../js/scroll-sections.js"></script>
</body>
</html>

