<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://fontawesome.com/v6/search?q=set&o=r&m=free">    
    <script src="../../assets/js/chat.js"></script>
    <script src="../../assets/js/filter.js"></script>
    <script src="../../assets/js/producto.js"></script>
    <script src="../../assets/js/topnav.js"></script> 
    <link rel="stylesheet" href="../../assets/CSS/global.css" />
    <link rel="stylesheet" href="../../assets/CSS/elements/chat.css">
    <link rel="stylesheet" href="../../assets/CSS/nav/nav.css">
    <link rel="stylesheet" href="../../assets/CSS/nav/navTablet.css">
    <link rel="stylesheet" href="../../assets/CSS/nav/navMobile.css">
    <link rel="stylesheet" href="../../assets/CSS/webs/user.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header id="nav"></header>
    <main class="profile-body">
        <aside class="profile-colum">
            <ul class="profile-elements">
                <li>Donaciones</li>
                <li>Donados</li>
                <li>Contenido guardado</li>
                <li>Reportes</li>
                <li><i class="fa-solid fa-toolbox" style="color: #B197FC;"></i></li>
            </ul>
        </aside>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderTopNav("InFamilyLogo.png", "corazonIcon.png", "chatsIcon.png", "usuarioIcon.png");
        });
      </script>
</body>
</html>