.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.search-container input {
    padding: 12px 15px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
    transition: all 0.3s;
}

.search-container input:focus {
    outline: none;
    border: 2px solid #28a745;
}

.search-container button {
    padding: 12px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #218838;
}

.user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.user-icon:hover {
    transform: scale(1.1);
}

.content {
    margin: 20px auto;
    max-width: 900px;
    width: 100%;
    padding: 20px;
}

.user-list {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }
}


.user-item {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
    color: #555;
    transition: background-color 0.3s;
}

.user-item:last-child {
    border-bottom: none;
}

.user-item:hover {
    background-color: #f1f1f1;
}

.user-actions {
    display: flex;
    gap: 15px;
    flex-direction: row-reverse;
}

.user-actions button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.user-actions button:hover {
    transform: scale(1.1);
}

.user-actions img {
    width: 28px;
    height: 28px;
}

.user-actions button img:hover {
    opacity: 0.7;
}

.user-actions button:focus {
    outline: none;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >button {
        border-radius: 16px;
        padding: 5px;
        margin-top: 20px;
        background-color: #fea368;
    }
}