<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container">
            <h1>Pasos para conseguir el codigo</h1>
            <p>Este apartado te esta solicitando un código privado y personal que solo puede ser otorgado por al Comunidad de Madrid.
                Para obtener este código debes figurar como familia de acogida para la comunidad, puedes buscar mas información 
            </p>
            <a href="https://www.comunidad.madrid/servicios/servicios-sociales/acogimiento-familiar-comunidad-madrid">aquí</a>    
        </div>
    </main>
</body>
</html>