<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/CSS/global.css">
    <link rel="stylesheet" href="../../assets/CSS/nav/navout.css">
    <link rel="stylesheet" href="../../assets/CSS/webs/donation.css">
</head>
<body>
    <nav class="topnav-out">
        <div class="topnav-out-logo">
            <img src="../../assets/img/InFamilyLogo.png" alt="">
        </div>
        <div class="topnav-out-title">
            <h1>Subir donativo</h1>
        </div>
    </nav>

    <main>
        <div class="donation">
            <section >
                <form action="" class="donation-upload-img" >
                    <label for="">Selecciona una imagen</label>
                    <div>
                        <img src="../../assets/img/descarga.png" alt="">
                    </div>
                    <button>Subir</button>
                </form>
            </section>
            <section >
                <form action="" class="donation-form-product">
                    <label for="">Título</label>
                    <input type="text" placeholder="Maximo 20 caracteres"/>
                    <label for="">Categoría</label>
                    <select name="" id="">
                        <option value="0">Selecciona una categoría</option>
                    </select>
                    <label for="">Subcategoría</label>
                    <select name="" id="">
                        <option value="0">selecciona una o varias subcategorias</option>
                    </select>
                    <label for="">Descripción</label>
                    <textarea placeholder="Máximo 100 caracteres"></textarea>
                </form>
            </section>
        </div>
        <div class="save-donation">
            <button class="save" id = "save-button">
                Guardar
            </button>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const save = document.getElementById("save-button");
            save.addEventListener("click", (event) => {
                event.preventDefault();
                window.location.href = "index.html";
            })
        })
    </script>
</body>
</html>